{% extends 'baseadmin.html.twig' %}
 {% block menubar %}
     <div class="menu-submenu">
         <div class="menu-item active">
             <a href="{{ path('categorie_exercice_back') }}" class="menu-link">
                 <span class="menu-text">Categorie Exercice</span>
             </a>
         </div>
         <div class="menu-item">
             <a href="{{ path('exercice_back') }}" class="menu-link">
                 <span class="menu-text">Exercice</span>
             </a>
         </div>

     </div>
 {%  endblock menubar %}
{% block MainContent %}
   <h2>Categories</h2>
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <br>

<table >

    <tr>
        <th>Categirie Id</th>
        <th>Categirie Nom</th>
        <th>Nbr Exercices</th>
        <th>Modifier</th>
        <th>Supprimer</th>

    </tr>
    {% for cat  in categorie_exercices %}
    <tr>
        <td>{{ cat.id  }}</td>
        <td>{{ cat.Nom }}</td>
        <td>{{ cat.exercices|length }}</td>
        <td><a href="{{ path('categorie_exercice_edit', {'id':  cat.id } ) }}">Edit</a></td>
        <td>{{ include('categorie_exercice/backend/categorie/_delete_form.html.twig') }}</td>

    </tr>
    {% else %}

        <h1>no records found</h1>
    {% endfor %}


</table>
    <div class="row text-center pt-100">
        <div class="col-lg-12 ">
            <nav>
                <a href="{{ path('categorie_exercice_new') }}">Ajouter</a> <br>
            </nav>
        </div>
    </div>
{% endblock  %}